body {
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.logo {
  margin-top: 50px;
  height: 15vh;
}

.body-class {
  font-size: 20px;
  text-align: center;
}

.select-teams {
  /* background-color: black; */
  font-size: 25px;
  margin-bottom: 50px;
  /* padding: 50px; */
}

.gen-button {
  font-size: 3vh;
  background-color: #bbb;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.teams {
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: -20px;
  background-color: black;
}

.input-box {
  height: 30px;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
}

.fix {
  margin-top: -40px;
  font-size: 30px;
}

.fix li {
  padding-top: 20px;
  list-style-type: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
